$breakpoint-mobile: 800px;
$breakpoint-compact: 1000px;
$breakpoint-tablet: 1300px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin compact {
  @media (max-width: $breakpoint-compact) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
