@use 'mixins' as *;

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px 50px clamp(40px, 7vw, 100px);

  @include mobile {
    flex-direction: column;
    align-items: center;
    padding: 67px 24px 0;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mobile {
    align-items: center;
    gap: 0;
    padding-top: 8px;
    white-space: nowrap;
  }
}

.hero-job {
  font-size: clamp(24px, 3.75vw, 54px);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;

  @include mobile {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.hero-name {
  font-size: clamp(40px, 5.7vw, 82px);
  font-weight: 700;
  line-height: 1;

  @include mobile {
    font-size: clamp(32px, 10.25vw, 40px);
    line-height: 1.2;
  }
}

.hero-photo {
  position: absolute;
  right: 50px;
  bottom: 60px;
  height: min(554px, 38.5vw);
  max-height: calc(100% - 160px);

  @include mobile {
    position: static;
    height: 370px;
    max-height: none;
    object-fit: contain;
    object-position: bottom;
  }
}

.hero-contact {
  position: absolute;
  left: clamp(40px, 7vw, 100px);
  bottom: 325px;
  padding: 30px 15px;
  border: 1px solid var(--color-mint);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-coral);
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  @include mobile {
    display: none;
  }
}

.hero-contact:hover {
  color: var(--color-mint);
}

.hero-contact:active {
  border-color: var(--color-coral);
  font-weight: 700;
  color: var(--color-coral);
}

.hero-arrow {
  position: absolute;
  left: 50%;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 38px;
  height: 68px;
  padding-bottom: 6px;
  border: 1px solid transparent;
  transform: translateX(-50%);

  @include mobile {
    display: none;
  }
}

.hero-arrow:hover {
  border-color: var(--color-mint);
}

.arrow-hover {
  display: none;
}

.hero-arrow:hover .arrow-default {
  display: none;
}

.hero-arrow:hover .arrow-hover {
  display: block;
}
