.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 50px 50px 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-job {
  font-size: 54px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.hero-name {
  font-size: 82px;
  font-weight: 700;
  line-height: 1;
}

.hero-photo {
  position: absolute;
  right: 50px;
  bottom: 60px;
  height: 554px;
  max-height: calc(100vh - 160px);
}

.hero-contact {
  position: absolute;
  left: 100px;
  bottom: 325px;
  padding: 30px 15px;
  border: 1px solid var(--color-mint);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-coral);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.hero-contact:hover {
  color: var(--color-mint);
}

.hero-contact:active {
  border-color: var(--color-coral);
  font-weight: 700;
  color: var(--color-coral);
}
